\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

__pycache__/
*.py[cod]
.DS_Store

.idea
.tmp
.sass-cache

.schema
.jshintrc
.sass-cache

*.log
*.sql

/env
/db
/data
/log/*.log
/node_modules
scratch.py
db.sqlite3

**/**/wheelhouse
**/**/env
services
.cache
local_settings.py
static

build/
dist/
*.egg-info
